@inherits LayoutComponentBase

<div class="main-container" @onclick=@Update>
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <CastomHeader />
        
        <div class="wrapper-center-page">
            @Body
        </div>

        <footer class="footer-container">
            <div class="footer-content-position">
                <h3>our contact:</h3>
                <h3>phone: 332-44-44</h3>
                <h3>email: bobbic@gmail.com</h3>
            </div>
        </footer>
    </main>
</div>

@code{
    public void Update(){}
}







