@inherits LayoutComponentBase

<div class="page overflow-main">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="">
        <CastomHeader />
        
        <article  class="content px-4">
            @Body
        </article>

        <footer class="footer-container">
            <div class="footer-margin-left">
                <h3>our contact</h3>
                <p>phone: 332-44-44</p>
                <p>email: bobbic@gmail.com</p>
            </div>
        </footer>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>





