@page "/admin-page"
@rendermode RenderMode.InteractiveServer

<PageTitle>Admin page</PageTitle>


<h3>Admin page</h3>

<div class="container-main">
    <button @onclick=ShowRequestShelter class="btn btn-primary castom-button">show requet for shelter</button>
    <button class="btn btn-primary castom-button">sign in</button>
    <button class="btn btn-primary castom-button">sign in</button>
</div>

@if (_isShowRequestSheltor)
{    
    <div class="container-card">
        @foreach (var RequestAddShelter in RequestsAddShelter)
        {
            <RequestForShelterCard RequestAddShelter="RequestAddShelter" />
        }
    </div>
   
}


@code {
    private bool _isShowRequestSheltor { get; set; } = false;

    private bool _isOpen { get; set; } = false;

    private List<RequestAddShelterOutputModel> RequestsAddShelter { get; set; }

    private AdminService AdminService { get; set; }

    private void ShowRequestShelter()
    {
        
        if (!_isShowRequestSheltor)
        {
            _isShowRequestSheltor = true;
            AdminService = new();
            RequestsAddShelter = AdminService.GetRequestAddSheltor();
            _isShowRequestSheltor = true;
        }
        else
        {
            _isShowRequestSheltor = false;
        }

    }
}
