@page "/admin-page"
@rendermode RenderMode.InteractiveServer

<PageTitle>Admin page</PageTitle>


<h3>AdminPage</h3>

<div class="container-main">
    <button class="btn btn-primary castom-button">applications for shelter</button>
    <button class="btn btn-primary castom-button">sign in</button>
    <button class="btn btn-primary castom-button">sign in</button>
</div>

@code {

}
