@page "/allshelter"
@rendermode RenderMode.InteractiveServer

<h3 class=" color-h3 position-text">AllShelters</h3>

<div class="conteiner-for-allshelterscard">
    @foreach (var item in Shelters)
    {
        <ShelterCard Shelter="@item" />
    }
</div>

@code {

    public List<ShelterCardOutputModel> Shelters { get; set; }

    private ShelterService _shelterManager { get; set; }

    public AllShelters()
    {
        //try
        //{
            _shelterManager = new ShelterService();
            Shelters = _shelterManager.GetAllShelter();
        //}
        //catch
        //{
            //Shelters = new();
        //}
       
        
    }
}
