.color-h3 {
    display: flex;
    font-size: xx-large;
    color: lightseagreen;
}

.conteiner-for-animals{
    display: flex;
    gap: 10px;
    margin-left: 1rem;
}

.position-text {
    display: flex;
    justify-content: center;
}