@page "/animalsFindAHome"
@rendermode RenderMode.InteractiveServer

<h3 class="color-h3">AnimalsFindAHome</h3>

<div class="conteiner-for-animals">
    @foreach (var a in _animals)
    {
        <AnimalCard Animal="@a" />
    }
</div>


<div class="container">
    
</div>

@code {
    private List<AnimalOutputModel> _animals;

    private AnimalService _animalServise;

    public AnimalsFindAHome()
    {
        _animalServise = new AnimalService();
        _animals = _animalServise.GetAllAnimals();
    }
}
