@page "/animalsFindAHome"
@rendermode RenderMode.InteractiveServer

<h3 class="color-h3">AnimalsFindAHome</h3>

<div class="conteiner-for-animals">
    @foreach (var a in _animals)
    {
        <AnimalCard Animal="@a" />
    }
</div>


@code {
    public List<AnimalOutputModel> _animals;

    private AnimalManager _animalManager;

    public AnimalsFindAHome()
    {
        _animalManager = new AnimalManager();
        _animals = _animalManager.GetAllAnimals();
    }
}
