@page "/fundraising"
@rendermode RenderMode.InteractiveServer

<h3 class="color-h3">Fundraising</h3>

<div class="conteiner-for-fundraisings">
    @foreach (var f in _fundraisings)
    {
        <FundraisingCard fundraisings="@f" />
    }
</div>

@code {
    
    public List<FundraisingOutputModel> _fundraisings;

    private FundraisingService _fundraisingServise;

    public Fundraising()
    {
        _fundraisingServise = new FundraisingService();
        _fundraisings = _fundraisingServise.GetAllFundraisings();
    }
}


