@page "/"

<PageTitle>Home</PageTitle>

<div class="container-home-page">
    <div>
        <div class="castom-href">
            <a href="/animalsFindAHome">
                <h2 class="h-style">animals find home</h2>
                <p class="p-style">help animals find a home</p>
            </a>
        </div>

        <div class="castom-href" href="/">
            <a href="allshelter">
                <h2 class="h-style">all shelters</h2>
                <p class="p-style">see all shelters</p>
            </a>
        </div>

        <div class="castom-href"> 
            <a href="/fundraising">
                <h2 class="h-style">fundraisings</h2>
                <p class="p-style">shelters need financial and other assistance</p>
            </a>
        </div>
        <div class="castom-href">
            <a href="/request-add-shelter">
                <h2 class="h-style">add shelter</h2>
                <p class="p-style">request to add a shelter</p>
            </a>
        </div>
    </div>
    
        <img src="images/dog.jpg" alt="dog" width="40%" />
</div>

<AuthorizeView>
    <Authorized>
        <h1 style="margin-left: 30px">Authorize</h1>
    </Authorized>
    <NotAuthorized>
        <h1 style="margin-left: 30px">No authorize</h1>
    </NotAuthorized>
</AuthorizeView>




@code {

}

