
.body-href{
    background-color: white;
    border-radius: 10px;
}

.p-style {
    border-top: 2px solid dimgray;
    padding-left: 10px;
    padding-right: 10px;
}

.h-style {
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.container-home-page {
    display: flex;
    justify-content: space-between;
    padding: 40px 40px;
}

img{
    border-radius: 10px;
}

