@page "/login"

@inject NavigationManager navManager

<EditForm EditContext="editContext" OnSubmit="SingUp" FormName="Registration" style="margin: 0 auto;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <DataAnnotationsValidator />
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registration window</h5>
                <a href="/" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <InputText @bind-Value="Registration.Name" class="form-control" id="recipient-name" />
                        <ValidationMessage For="@(() => Registration.Name)" />
                    </div>
                    <div class="mb-3">
                        <label for="recipient-email" class="col-form-label">Email:</label>
                        <InputText @bind-Value="Registration.Email" class="form-control" id="recipient-email" />
                        <ValidationMessage For="@(() => Registration.Email)" />
                    </div>
                    <div class="mb-3">
                        <label for="recipient-password" class="col-form-label">Password:</label>
                        <InputText @bind-Value="Registration.Password" class="form-control" id="recipient-password" />
                        <ValidationMessage For="@(() => Registration.Password)" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="/" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</EditForm>

@code {

    [SupplyParameterFromForm]
    private RegistrationInputModel Registration { get; set; } = new();

    [CascadingParameter]
    public HttpContext httpContext { get; set; }

    public EditContext? editContext;

    protected override void OnInitialized()
    {
        editContext = new(Registration);
    }

    public async Task SingUp()
    {
        if (editContext != null && editContext.Validate())
        {
            var claims = new List<Claim>()
            {
                new Claim(ClaimTypes.Role, "Client")
            };
            var identity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
            var pr = new ClaimsPrincipal(identity);
            await httpContext.SignInAsync(pr);

            // UserRoleDto role = new();
            // role.Id = 1;
            // role.Role = "Client";
            //Registration.RoleDto = role;
            UserService service = new();
            service.AddUser(Registration);


            navManager.NavigateTo("./");
        }
    }
}


