@page "/manager-page"

@rendermode RenderMode.InteractiveServer

<PageTitle>Admin page</PageTitle>

<h3>Manager page</h3>

<div class="container-main">
    <button @onclick="AddAnimal" class="btn btn-primary castom-button">application for registration</button>
    <button class="btn btn-primary castom-button">sign in</button>
    <button class="btn btn-primary castom-button">sign in</button>
</div>

<p class="info">@_info</p>

@* @if (_isShowBidder)
{
    <RequestAddShelterPage />
}
 *@
@code {
    private string _info { get; set; } = "";
    //private bool _isError { get; set; } = false;

    //private RequestAddShelterInputModel Bidder { get; set; } 

    //public EditContext editContext;

    private bool _isShowBidder { get; set; } = false;

    //private string _message { get; set; }

    //private ManagerService ManagerService { get; set; }

    //[CascadingParameter]
    //public Task<AuthenticationState> State { get; set; }

    private void AddAnimal()
    {
        _isShowBidder = true;
    }
}
   

   
            
