@page "/manager-page"

@rendermode RenderMode.InteractiveServer

<PageTitle>Admin page</PageTitle>

<h3>Manager page</h3>

<div class="container-main">
    <button @onclick="AddAnimal" class="btn btn-primary castom-button">application for registration</button>
    <button class="btn btn-primary castom-button">sign in</button>
    <button class="btn btn-primary castom-button">sign in</button>
</div>

@* <p class="info">@_info</p> *@

@if (_isShowBidder)
{
    <FormAddAnimal OnClickCallback="CloseWindow" />
}

@code {
    private string _info { get; set; } = "";
    //private bool _isError { get; set; } = false;

    private bool _isShowBidder { get; set; } = false;

    //private string _message { get; set; }

    private void AddAnimal()
    {
        _isShowBidder = true;
    }

    private void CloseWindow()
    {
        _isShowBidder = false;
    }
}
   

   
            
