<div style="background-color: lightgreen; width: 350px; margin:10px; padding:10px; border:5px double forestgreen">
    <h3>@Animal.Name</h3>
    <p>@Animal.Description</p>
    <p>@Animal.Age</p>

  <div class="nav-item px-3">
     <NavLink class="nav-link" href=@($"animal/{Animal.Id}") Match="NavLinkMatch.All">
            <button>Посмотреть Животное</button>
     </NavLink>
  </div>
</div>


@code {
    [Parameter]
    [EditorRequired]
    public AnimalOutputModel Animal { get; set; }
}
