<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@Animal.Name</h5>
        <a href="@($"animal/{Animal.Id}") " class="btn btn-primary">Open</a>
  </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public AnimalOutputModel Animal { get; set; }
}
