
<div class="card" style="width: 18rem;">
    <img src="@Animal.ImagePath" class="card-img-top" alt="@Animal.Name">
  <div class="card-body">
    <h5 class="card-title">@Animal.Name</h5>
        <a href="@($"animal/{Animal.Id}") " class="btn btn-primary">Посмотреть</a>
  </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public AnimalOutputModel Animal { get; set; }
}
