
<div class="card" style="width: 18rem;">
  <img src="images/fundraisinfFoto.jpg" class="card-img-top" alt="...">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Fundraisings.Name</li>
        <li class="list-group-item">@Fundraisings.Description</li>
        <li class="list-group-item">@Fundraisings.Amount</li>
    </ul>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public FundraisingOutputModel Fundraisings { get; set; }
}
